.side-bar
  .side-header
    %h3.side-header__user-name
      user-name
    %ul.side-header__lists
      %li.list
        = link_to "#", class:"icon" do
          = icon('fas', 'edit') 
      %li.list
        = link_to "#", class:"icon" do
          = icon('fas','cog')
  .groups
    .group
      .group__name
        group
      .group__message
        message
    .group
      .group__name
        group
      .group__message
        message
    .group
      .group__name
        group
      .group__message
        message
    