.chat-main {
  width: calc(100vw - 300px);
  float: left;
  z-index: 1;
  .header {
    height: 100px;
    padding: 0 40px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $white;
    .header-group {
      &__name {
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
        .menber-list {
          font-size: 12px;
          color: #999999;
        } 
        .menber-list {
          display: flex;
          justify-content: space-between;
          padding-top: 15px;
        }
      }
      &__edit {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: $sky-blue;
        padding: 0 20px;
        margin: 28px 0;
        border: solid 1px #38aef0;
        text-decoration: none;
      }
    }
  }

//message ----------------------------------------------
  .chat-messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: $hchat-messages;
    .message {
      margin-bottom: 12px;
      display: flex;
      justify-content: stretch;
      &__user-name {
        color: #333333;
        font-size: 16px;
        float: left;
      }
      &__date {
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
        float: left;
      }
    }
    .message-text {
      color: #434A54;
      padding-bottom: 46px;
      .content {
        font-size: 14px;
      }
      &__image {
        height: 200px;
      }
    }
  }

//form -------------------------------------------------
  .chat-form {
    height: 90px;
    width: calc(100vw - 300px);
    padding: 20px 40px;
    background-color: $chat-form_gree;
    position: fixed;
    bottom: 0;
    .new-message{
      display: flex;
      justify-content: space-between;
      .input-box {
        display: flex;
        justify-content: space-between;
        position: relative;
        &__text {
          height: 50px;
          width: 925px;
          color: #434A54;
          border-style: none;
          padding: 0 40px 0 10px;
          margin-right: 40px; 
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 170px;
          &__file {
            display: none;
          }
        }
      .send-btn {
        width: 100px;
        color: $white;
        padding: 0 30px;
        background-color: $sky-blue;
        }
      }
    }
  }
}









